<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-md-10" style="background: white">
            <div id="quizzes">
                <h3>Quizzes</h3>
                <p>Some content.</p>
                <div class="row">
                    <div class="col-md-2 col-md-offset-10">
                        <button id="addQuiz" class="btn btn-primary">Add</button>
                    </div>
                </div>
                <br/>
                <table class="table table-hover">
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                    <% _.each(quizzes, function(quiz)  { %>
                        <tr>
                            <td>
                                <%= quiz.title %>
                            </td>
                            <td>
                                <%= quiz.description %>
                            </td>
                            <td>
                                <a>View</a>
                                <a>Edit</a>
                                <a>Delete</a>
                            </td>
                        </tr>
                        <% }); %>

                </table>
            </div>
            <div id="menu1" class="tab-pane fade">
                <h3>Menu 1</h3>
                <p>Some content in menu 1.</p>
            </div>
        </div>
    </div>
</div>
<div id="modal">
</div>